.home{

    button{
        width: 100%;
        border: 1px solid $green;
        background: $green;
        color: $white;
    }

    .home-header{

        @include responsive(tablet){
            width: 80%;
            transform: translateX(13%);
            border: 1px solid green;
            
        }

        .icons{
            color: gray;
            float: right;

            li{       
                margin-left: 10px;         
                .icon{
                    height: 25px;
                }
            }
        }
    }

    .home-nav{

        h2{
            position: relative;
            top: 13px;
            color: $dark-green;
        }

        nav{
            background: $dark-gray;
            padding-block:1px;
            padding-inline: 15px;
            border-radius: 40px;
            margin-top: 30px;

            ul{
                display: flex;
                justify-content: space-between;
                margin-left: -40px;
                font-size: 14px;

                li{
                    color: $green;
                }
            }
        }
    }
}
