.home{

    button{
        width: 100%;
        border: 1px solid $green;
        background: $green;
        color: $white;
    }

    margin-top: 20px;

    .home-header{

        .icons{
            color: gray;
            float: right;
            margin-top: -10px;

            li{       
                margin-left: 10px;  

                .icon{
                    height:30px;
                }

                img{
                    height: 30px;
                    width: 30px;
                    border-radius: 20px;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .home-nav{

        margin-top: 40px;

        h2{
            position: relative;
            top: 13px;
            color: $dark-green;
        }

        nav{
            background: $dark-gray;
            padding-block:1px;
            padding-inline: 15px;
            border-radius: 40px;
            margin-top: 30px;

            ul{
                display: flex;
                justify-content: space-between;
                margin-left: -40px;
                font-size: 14px;

                li{
                    color: $green;
                }
            }
        }
    }
}
